<header>
		<%= image_tag("truite.png", :alt => "Application exemple", :class => "testPictureSize") %>
		<div class="menu">
			<ul class="nav nav-pills">
		  		<li role="presentation" class="active">
		  			<%= link_to "Accueil", home_path %>
		  		</li>
		  		<li role="presentation">
		  			<%= link_to "APropos", about_path %>
		  		</li>
		  		<li role="presentation">
		  			<li><%= link_to "Inscription", '/pages/register' %></li>
		  		</li>
			</ul>
		</div>
	</header>